$color-dark: #171818;
$color-background: #141414;
$color-white: rgb(221, 218, 218);

$color-green: #1cb831; 

$color-red: #e21221;

$color-dark-blue: #082452;
$color-light-blue: rgb(15, 61, 129);
$color-light-blue-2: #2b2da5;

$color-purple: #782da3;

