$color-dark: #171818;
$color-background: #111111;
$color-background-modal: #000000;
$color-white: rgb(221, 218, 218);

$color-green: #1cb831; 
$color-green-modal: rgb(92, 223, 92); 
$color-modal-grey: rgb(172, 171, 171);
$color-modal-grey-2: rgb(122, 122, 122);

$color-red: #e21221;
$color-red-2: #f80616de;

$color-dark-blue: #082452;
$color-light-blue: rgb(15, 61, 129);
$color-light-blue-2: #2b2da5;

$color-purple: #782da3;

