.footer {
   background-color: $color-background;
   padding-top: 15rem;
   padding-bottom: 4rem;
   grid-column: 1 / 13;
   text-align: center;
   

   // // &__container {
   //    // display: grid;
   //    // grid-template-columns: repeat(4, 1fr);

      &__copyright {
         color: #fff;
         font-size: 1.8rem;
        
         &--link {
            text-decoration: none; 
            color: #fff;
             transition: all .3s;

         }

         &--link:hover {
            color: orange;
         }
      }  
 
}