.navigation {
   background-color: transparent; 
   z-index: 100;
   grid-column: 1 / 13; 
   position: fixed;
   width: 100%;
   height: 6.7rem;
   transition-timing-function: ease-in;
   transition: all 1s;


   &.black {
      background-color: $color-background;
   }

   &__container {
      background-color: transparent;
      margin-left: 3.8rem;
      display: flex;
      height: 6.7rem;
      justify-content: flex-start;
      align-items: center;

      a:first-child {
         padding-left: .2%;
         color: $color-red;
         font-size: 4rem;
      }

      &-link {
         color: #fff;
         text-decoration: none;
         margin-right: 2rem;

         &:last-child {
            padding-right: 2.6rem;
         }

        
      }

      &--left {
         flex-grow: 1;
         color: #fff;
         padding-right: 2rem;
         display: flex;
         justify-content: flex-end;

         &__input {
              font-size: 1.4rem;
              border: none;
              color: #fff;
              outline: none;
              width: 0px;
              padding: 10px;
              padding-right: 2rem;
            //   background: none; 
              background: $color-background;
               border: 1px solid #fff;
              transition: width .5s;
              cursor: pointer;

               opacity: 0;
               // transition: all .5s; 

              &:focus {
                  padding-left: 4rem;
                  width: 22rem;
                  // border: 1px solid #fff;
                  cursor: text;
                  opacity: 1;
                
              }
         }
      }
   }

}

.logo {
   width: 1.8rem;
   height: 1.8rem;
   transform: translateX(2.4rem) translateY(1rem);
   cursor: pointer;
}