@import "abstracts/functions";
@import "abstracts/variables";

@import "base/base";

@import "components/backdrop";
@import "components/modal";
@import "components/search";
@import "components/movie";
@import "components/movieShowcase";

@import "layout/footer";
@import "layout/header";
@import "layout/navigation";