.movieOriginals {
   background-color: $color-background;
   grid-column: 2 / 13;

   &__container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: .5rem;

      &--movie {
         padding-bottom: 45rem;
      }
   }
}