.movieShowcase {
   background-color: $color-background;
   grid-column: 2 / 13;
   color: #fff;

   &__container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: .5rem;

        &--movie {
           padding: 3rem;
        }
   }
}

.shit {
   width: 20rem;
   height: 10rem;
}