.movie {
   flex: 1 1 auto; 
   padding-top: 6rem;
   display: inline-block;

   &__column-poster {
      height: 25rem;
      width: 17.5rem;
      cursor: pointer;
      transition: transform .3s;
      -webkit-transition: transform .3s;
      
       &:hover {
         transform: scale(1.25);
       }
   }

    &__poster {
       height: 100%;
    }
}

div.movie:first-child {
   padding-top: 15rem;
}
