.searchContent {
   height: 100vh;
   background-color: $color-background;
}

.search-container {
   background-color: $color-background;
   height: 150%;
   padding-bottom: 10rem;
   padding-left: 4rem;
}